<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" type="image/x-icon" href="/pictures/favicon.png">
<div class="container">
    <div class="block image-block">
        <img src="/pictures/login/9d1b74f2-f93f-479e-986d-1c13d84e7e41.png" alt="">
    </div>
    <div class="block form-block">
        <div class="form-container">
            <form action="/login" method="POST">
                <h1 class="login-header">Log In</h1>
                <p class="signup-text">Don't have an account yet? <span class="Sign Up"><a href="/register"
                            style="color: green;">Sign
                            Up</a></span></p>
                <div class="user-box">
                    <input type="text" name="username" required="" />
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" id="password" required="" />
                    <label>Password</label>
                    <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
                </div>
                <button class="login-button">Log In</button>
                <div class="elegant-link">
                    <a href="/">Elegant.</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/flash') %>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            overflow: hidden;
        }

        .image-block {
            width: 60%;
            height: 100%;
        }

        .image-block img {
            width: 100%;
            height: 100%;
        }

        .form-block {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            height: 500px;
            width: 40%;
        }

        .login-header {
            font-size: 40px;
        }

        .signup-text {
            font-size: 20px;
            margin-top: 30px;
        }

        .user-box {
            margin-top: 30px;
            position: relative;
            margin-bottom: 30px;
        }

        .user-box input {
            width: 400px;
            padding: 10px 0;
            font-size: 16px;
            color: #333;
            margin-bottom: 30px;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
            background: transparent;
        }

        .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #333;
            pointer-events: none;
            transition: 0.5s;
        }

        .user-box input:focus~label,
        .user-box input:valid~label {
            transform: translateY(-20px);
            font-size: 14px;
            color: #333;
        }

        .password-toggle-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .password-toggle-icon i {
            font-size: 18px;
            line-height: 1;
            color: #333;
            transition: color 0.3s ease-in-out;
            margin-bottom: 20px;
        }

        .password-toggle-icon i:hover {
            color: #000;
        }

        .login-button {
            width: 400px;
            height: 40px;
            border: 1px solid black;
            background-color: white;
            font-size: 15px;
            color: black;
            border-radius: 15px;
        }

        .login-button:hover {
            color: white;
            background-color: black;
            cursor: pointer;
        }

        .elegant-link {
            display: flex;
            justify-self: center;
            width: 400px;

            text-align: center;
            margin-top: 30px;
        }

        .elegant-link a {
            width: 100%;
            text-decoration: none;
            font-size: 40px;
            color: black;
        }

        @media (min-width:300px) and (max-width: 650px) {

            .container {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                overflow: hidden;
                flex-direction: column !important;
            }

            .image-block {
                width: 100%;
                height: 1000%;
            }

            .image-block img {
                width: 100%;
                height: 100%;
            }

            .form-container {
                height: 10%;
                width: auto;
            }

            .login-header {
                font-size: 40px;
            }

            .signup-text {
                font-size: 20px;
                margin-top: 30px;
            }

            .block,
            .image-block,
            .form-container {
                width: 100%;
                height: 50%;
            }

            form {
                margin-top: -100px;
            }

            .form-block {
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                width: 120%;
                padding: 10px 0;
                font-size: 16px;
                color: #333;
                margin-bottom: 30px;
                border: none;
                border-bottom: 2px solid #333;
                outline: none;
                background: transparent;
            }

            .user-box {
                margin-top: 30px;
                width: 100%;
                position: relative;
                margin-bottom: 30px;
            }

            .elegant-link {
                display: flex;
                justify-self: center;
                width: 100%;

                text-align: center;
                margin-top: 30px;
            }

            .login-button {
                width: 100%;
                height: 40px;
                border: 1px solid black;
                background-color: white;
                font-size: 15px;
                color: black;
                border-radius: 15px;
            }

            .user-box input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #333;
                margin-bottom: 30px;
                border: none;
                border-bottom: 2px solid #333;
                outline: none;
                background: transparent;
            }
        }

        @media (min-width:650px) and (max-width: 1400px) {

            .container {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                overflow: hidden;

            }

            .form-container {
                height: 10%;
                width: auto;
            }

            .login-header {
                font-size: 40px;
            }

            .signup-text {
                font-size: 20px;
                margin-top: 30px;
            }

            .block,
            .image-block,
            .form-container {
                width: 70%;
                height: 100%;
            }

            form {
                margin-top: -100px;
            }

            .form-block {
                width: 80%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                width: 120%;
                padding: 10px 0;
                font-size: 16px;
                color: #333;
                margin-bottom: 30px;
                border: none;
                border-bottom: 2px solid #333;
                outline: none;
                background: transparent;
            }

            .user-box {
                margin-top: 30px;
                width: 100%;
                position: relative;
                margin-bottom: 30px;
            }

            .elegant-link {
                display: flex;
                justify-self: center;
                width: 100%;

                text-align: center;
                margin-top: 30px;
            }


            .login-button {
                width: 100%;
                height: 40px;
                border: 1px solid black;
                background-color: white;
                font-size: 15px;
                color: black;
                border-radius: 15px;
            }

            .user-box input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #333;
                margin-bottom: 30px;
                border: none;
                border-bottom: 2px solid #333;
                outline: none;
                background: transparent;
            }
        }
    </style>
    <script>
        const passwordField = document.getElementById("password");
        const togglePassword = document.querySelector(".password-toggle-icon i");

        togglePassword.addEventListener("click", function () {
            if (passwordField.type === "password") {
                passwordField.type = "text";
                togglePassword.classList.remove("fa-eye");
                togglePassword.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                togglePassword.classList.remove("fa-eye-slash");
                togglePassword.classList.add("fa-eye");
            }
        });
    </script>